@model IEnumerable<PontoSimples.Models.Funcionario>

@{
    ViewData["Title"] = "Funcionários cadastrados";
}
<h2>@ViewData["Title"]</h2>

@*<li><a asp-area="" asp-controller="Relatorios" asp-action="PrintFuncionarios">Imprimir</a></li>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PIS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PIS)
                </td>
            </tr>
        }
    </tbody>
</table>
