@model PontoSimples.Models.Funcionario

@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Funcionarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Setor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Setor.NomeSetor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PIS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PIS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraFunc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraFunc.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
