@model PontoSimples.Models.Horarios

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Horarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraFim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraFim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InicioAlmoco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InicioAlmoco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FimAlmoco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FimAlmoco)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
